.timeline-chart .axis path {
  fill: none;
  stroke: none; }

.timeline-chart line {
  stroke: #D0E1D4; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
  fill: transparent; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: #E4BE9E;
  stroke: #71697A; }
