.timeline-chart .axis path {
  fill: none;
  stroke: none; }

.timeline-chart line {
  stroke: black; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
  fill: transparent; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: rgb(83, 83, 198);
  stroke: #2b2b2b; }
